<div class="zoom-btns-container">
    <button type="button" class="btn btn-primary zoom-btn" ng-click="ctrl.zoomIn()">
        <span class="glyphicon glyphicon-zoom-in"></span>
    </button>
    <button type="button" class="btn btn-primary zoom-btn" ng-click="ctrl.zoomOut()">
        <span class="glyphicon glyphicon-zoom-out"></span>
    </button>
    <button  class="btn btn-primary zoom-btn" ng-click="ctrl.fitCenter()">Reset</button>
</div>
<div id="bpmn-container" class="col-12 mb-2 bpmn-container"></div>
